.array-container {
    position: absolute;
    margin: 2% 5%;
    
    height:auto;
    width:-webkit-fill-available;
    /* top: 100px; */
  }
  
  .array-bar {
    
    display: inline-block;
  }
  .array-bar1 {
    
    display: inline-block;
  }
  .array-bar2 {
    
    display: inline-block;
  }
  .array-bar3 {
    
    display: inline-block;
  }
  .array-bar4 {
    
    display: inline-block;
  }
  button{
    background: none;
    color: white;
    border-radius: 5px !important;
    padding: 10px;
    margin: 5px !important;
    opacity:0.8;
    border-color: gold;
  }
  button:hover{
    background-color: goldenrod;
    color:black;
    transform: scale(1.1);
    opacity:1;
  }
  
  .jumbo{
    margin-bottom: unset !important;
    color:gold;
    padding: 1rem 2rem !important;
  }